* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto";
}

#root {
    /* background-color: purple; */
    min-height: 100vh;
    max-height: 100%;
    min-width: 100vw;
    max-width: 100%;
}
